<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset = utf-8">
	<link rel="stylesheet" href="style.css">
	<title> Музичні інструменти світу </title>
	<style type="text/css">
		body {
			background: url(C:/Фон.png);
		}

		p {
			text-align: justify;
		}

		A {
			text-decoration: none;
		}

		A:hover {
			text-decoration: underline;
			color: #23187D;
		}

		h1 {
			text-align: center;
		}

		#main {
			width: 1000px;
			margin: 0 auto;
			font-size: 16px;
			text-align: left;
			padding: 30px;
			background: #90789E;
			color: #051054;
			border-radius: 20px;
		}
	</style>
</head>

<body link="#23189B" vlink="#5B5D99" alink="#ff0000">
	<div id="main">
		<h2>
			{{{ msg }}}
		</h2>
	</div>
</body>

</html>