<div class="signup-form">
    <h1> Реєстрація </h1>
    <form action="reg" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </form>
    Або <a href="/login">залогіньтеся</a>
</div>