<h1> Язичкові духові інструменти </h1>
<p><b>У язичкових духових (також лінгвальні; від лат. lingua — язик)</b> інструментах струмінь повітря
	вдувається через язичок (трость), що закріплюється у верхній частині
	інструмента. При вдуванні повітря трость починає коливатися і збуджує коливання повітряного стовпа усередині
	інструмента. Трості бувають двох типів:</p>
<ul>
	<li>
		<p>Одинарна трость являє собою тонку очеретяну пластинку, що закриває отвір у мундштуці інструмента,
			залишаючи в ньому вузьку щілину. При вдуванні повітря тростина
			починає вібрувати з великою частотою (порядку сотень герц), то відкриваючи, то закриваючи отвір у
			мундштуці. Вібрація трості передається стовпу повітря усередині
			інструмента, який також починає вібрувати, таким чином, відтворюючи звук.</p>
	</li>
	<li>
		<p>Подвійна трость складається із двох тонких очеретяних пластинок, з'єднані одна з іншою, які при
			вдуванні повітря починають вібрувати, замикаючи і розмикаючи
			щілину, утворену ними самими.</p>
	</li>
</ul>
<p>Серед сучасних оркестрових інструментів одинарну трость мають кларнет та його різновиди — бас-кларнет,
	басетгорн, кларнет-піколо, а також саксофон в усіх його різновидах.</p>
<p>Подвійну трость мають такі оркестрові інструменти як гобой та його різновиди — англійський ріжок і гобой
	д'амур, фагот і контрафагот. Крім того подвійну трость мають
	рідко використовувані сарюзофони, старовинні бомбарда, шоломія і круммхорн, та ряд народних інструментів,
	таких як дудук, зурна.</p>
<table width="1000" border="1" bordercolor="#051054">
	<tr>
		<th><img src="klarnet.jpg" alt="Кларнет" width="200" height="260"></th>
		<td>
			<p><b>Кларнет (англ. clarinet, італ. clarinetto, фр. clarinette, нім. Klarinette; від лат. — ясний
					(звук))</b> — музичний інструмент сімейства язичкових духових, також сімейства дерев'яних
				духових,
				винайдений в 1701 році. Широко використовується як сольний інструмент, а також в симфонічному
				оркестрі, і вважається одним із найвіртуозніших музичних інструментів.</p>
			<p>Кларнет належить до транспонуючих інструментів, використовуються кларнети в різних строях,
				головним чином в строї сі-бемоль («in B») та в строї ля («in A»).
				Діапазон кларнета (по запису) від e до c<sup><small>4</small></sup>. Різновидами кларнета є
				кларнет-піколо (in Es, рідше in D), басетгорн (майже вийшов із практики,
				in F) і бас-кларнет (in B). В партитурі для симфонічного оркестру партія кларнетів пишеться між
				партіями гобоїв та фаготів.</p>
		</td>
	</tr>
	<tr>
		<th><img src="bas-truba.jpg" alt="Бас-кларнет" width="200" height="310"></th>
		<td>
			<p><b>Бас-кларнет (італ. clarinetto basso; фр. clarinette basse; нім. Bassklarinette; англ. bass
					clarinet)</b> — дерев'яний духовий музичний інструмент,
				басовий різновид кларнета.</p>
			<p>Спроби створити подібний до кларнету інструмент басового регістру робилися з середини XVIII
				століття. Найраніший зі збережених інструментів зберігається
				в мюнхенському музеї і є роботою майстрів з Пассау братів Антона і Міхаеля Майрхофера початку
				1770-х років. За будовою він нагадує бассетгорн, однак має
				додаткову крону, що дозволяє витягти нижній звук «до» (при цьому клапан для видобування «ре»
				відсутній). Відомі бас-кларнети роботи Генріха Грензера 1793
				року і його дядька Августа — 1795 року. Вони були настроєні in B і володіли діапазоном,
				розширеним вниз до A<sub><small>1</small></sub> (Ля контроктави за реальним звучанням), при
				цьому нижня частина клапанного механізму була діатонічною, а не хроматичної. Ці інструменти
				нагадували за формою фагот и і, імовірно, призначалися для заміни
				фаготів у військових оркестрах.</p>
			<p>Сучасного вигляду бас-кларнет набув наприкінці 1830-х років зусиллями Адольфа Сакса, який також
				удосконалив систему клапанів, поліпшив інтонування і
				розширив діапазон, створивши, таким чином, повноцінний музичний інструмент.</p>
		</td>
	</tr>
	<tr>
		<th><img src="saksofon.jpg" alt="Саксофон" width="200" height="260"></th>
		<td>
			<p><b>Саксофон (англ. saxophone, італ. saxofono від імені винахідника)</b> — духовий музичний
				інструмент.</p>
			<p>Сконструйований 1841 року бельгійським майстром Адольфом Саксом (патент 1846 року).
				Виготовляється з латуні. Має конічний стовбур, мундштук з одинарною
				тростю (як у кларнета) та систему клапанів (як у гобоя та флейти), завдяки чому належить до
				сімейства дерев'яних духових.</p>
		</td>
	</tr>
	<tr>
		<th><img src="vargan.jpg" alt="Варган" width="200" height="260"></th>
		<td>
			<p><b>Варган, Дримба</b> — обертонний самозвучний язичковий щипковий інструмент, номер 112.221 у
				класифікації Горнбостеля-Закса. В основі інструмента лежить
				невелика металева підківка (дуга), до якої посередині прикріплено сталевим язичок, інколи два.
				Язичок наприкінці закручений задля безпечних ударів. Дуга
				інструмента притискається до зубів, інколи до губ. Ротова порожнина служить резонатором.
				Музикант пальцем вдаряє язичок, ніби щипає, а артикуляцією рота,
				диханням та положенням діафрагми змінює висоту звуку та тривалість звучання.</p>
			<p>Дослідження музикознавців показали, що дримба може давати діапазон до двох октав. З цих звуків
				одні бринять більш певно, а решта трохи слабше.</p>
			<p>В Україні найчастіше використовується в гуцульському музичному побуті.</p>
		</td>
	</tr>
</table>