<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset = utf-8">
	<link rel="stylesheet" href="style.css">
	<title> Клавішні музичні інструменти </title>
	<style>
		body {
			background: url(C:/Фон.png);
		}

		h1 {
			text-align: center;
		}

		h2 {
			margin-top: 40px;
		}

		p {
			margin-top: 5px;
			text-align: justify;
		}

		td {
			padding: 5px;
			vertical-align: top;
		}

		#main {
			width: 1000px;
			margin: 0 auto;
			font-size: 16px;
			text-align: left;
			padding: 30px;
			background: #90789E;
			color: #051054;
			border-radius: 20px;
		}
	</style>
</head>

<body>
	<div id="main">
		<h1> Клавішні музичні інструменти </h1>
		<p><b>Клавішні музичні інструменти</b> — інструменти, звук у яких видобувається за допомогою важелів — клавіш,
			розташованих у певному порядку, що складають
			клавіатуру. Стосовно старовинної музики, все різноманіття клавішних інструментів іноді називають одним
			словом «клавір» (наприклад, Добре темперований клавір
			Й. С. Баха). Стосовно сучасної поп- і рок-музики використовують спрощений термін — «клавіші», при цьому
			виконавця на клаівшних називають клавішником.</p>
		<h2>Види клавішних музичних інструментів</h2>
		<p>За способом видобування звуків клавішні музичні інструменти поділяються на такі групи:</p>
		<ul>
			<li>ударно-клавішні (стародавній клавікорд, сучасне фортепіано) і щипково-клавішні (клавесин і його
				різновиди) струнні інструменти</li>
			<li>пневматичні клавішні духові інструменти (орган і його різновиди)</li>
			<li>пневматичні клавішні язичкові інструменти (фісгармонія, баян, акордеон)</li>
			<li>ударно-клавішні пластинкові інструменти (дзвіночки, челеста)</li>
			<li>електронні клавішні музичні інструменти (синтезатори, електроорган)</li>
		</ul>
		<h2>Типи клавіатур</h2>
		<p>Клавіатури можуть бути статичними й динамічними. При грі на динамічній клавіатурі можна впливати на гучність
			(на синтезаторах — також і на інші параметри звуку)
			силою натискання клавіші. Статична клавіатура лише фіксує момент натискання та відпускання клавіші, при
			цьому гучність звуку регулюється іншими засобами.</p>
		<p>Клавіатура органа й акордеона статична, клавіатура фортепіано — динамічна. В електронних клавішних
			інструментах можливі обидва варіанти.</p>
		<h2>Історія виникнення клавішних інструментів</h2>
		<p>Клавішні інструменти існували ще в Середні віки. Орган, найстаріший з них, — це духовий клавішний інструмент
			(у нього немає струн, а є безліч труб), і він не є
			безпосереднім родичем фортепіано.</p>
		<p>Перший клавішний інструмент, у якого були струни, — клавікорд. Він з'явився в пізньому середньовіччі, хоча
			ніхто не знає, коли саме. Клавікорд мав будову, схожу
			на будову сучасного фортепіано. Проте його звук був дуже м'яким і тихим для того, щоб на ньому можна було
			грати перед великою кількістю людей. Клавікорд, бувши
			набагато меншим за розміром і простішим, ніж його родич клавесин, був достатньо популярним домашнім
			інструментом, і його напевно можна було знайти в будинках
			композиторів епохи бароко, включаючи Баха.</p>
		<p>Клавікорд мав дуже просту будову. При натисненні на клавішу маленький мідний квадратик під назвою тангент
			ударяв струну. В той же час піднятий демпфер дозволяв
			струні вібрувати. У клавікорда було по одній струні на кожну клавішу, тоді як у сучасного фортепіано на
			кожну клавішу буває до трьох струн. Бувши дуже тихим
			інструментом, клавікорд все ж таки дозволяв робити крещендо й дімінуендо.</p>
		<p>Інший клавішний інструмент — клавесин — найпевніше, був винайдений в Італії в XV столітті. В даному випадку
			звук добувався пташиними пір'їнками або шматочками
			шкіри (на зразок медіатора). До того ж струни клавесина розташовані паралельно клавішам, як у сучасного
			рояля, а не перпендикулярно, як у клавікорда і сучасного
			піаніно. Звук клавесина — досить слабкий, не дуже-то придатний для виконання музики у великих залах. У п'єси
			для клавесина композитори вставляли безліч мелізмів
			(прикрас) для того, щоб довгі ноти могли звучати достатньо протяжно. Зазвичай клавесин використовувався для
			акомпанементу.</p>
		<p>Третій вид струнно-клавішного інструменту, на якому грали в XV, XVI і XVII століттях, — це спінет. По суті
			спінет — це маленький клавесин з однією або двома
			клавіатурами розміром в чотири октави. Він як правило був багато декорований і тому був такою ж прикрасою
			будинку, як і красиві меблі.</p>
		<p>На рубежі XVIII століття композитори і музиканти стали гостро відчувати потребу в новому клавішному
			інструменті, який не поступався б по виразності скрипці.
			Більше того, був необхідний інструмент з великим динамічним діапазоном, здатним на громове фортіссімо, ніжне
			піаніссімо і якнайтонші динамічні переходи.</p>
		<p>Ці мрії стали реальністю, коли в 1709 році італієць Бартоломео Крістофорі, що займався музичними
			інструментами сімейства Медічі, винайшов перше фортепіано. Він
			назвав свій винахід «Gravicembalo col piano e forte», що означає «клавішний інструмент, що грає ніжно і
			голосно». Ця назва потім була скорочена, і з'явилося слово
			«фортепіано». Трохи пізніше подібні інструменти були створені вчителем музики з Німеччини Крістофором
			Готлібом Шретером (1717 р.) і французом Жаном Маріусом (1716 р.).</p>
		<p>Фортепіано Крістофорі було дуже простим. Воно складалося з клавіш, повстяного молоточка і спеціального
			«повертача». У такого фортепіано не було ні демпферів, ні
			педалей. Удар по клавіші примушував молоток ударяти по струні, викликаючи її вібрацію, зовсім не схожу на
			вібрацію струн у клавесина або клавікорда. Повертач дозволяв
			молоточку йти назад, а не залишатися притиснутим до струни, що заглушало б її вібрацію. Пізніше була
			винайдена подвійна репетиція, що дозволила молоточку опускатися
			наполовину, що дуже допомагало у виконанні трелей і нот, що швидко повторювалися.</p>
		<table width="1000" border="1" bordercolor="#051054">
			<tr>
				<th><img src="klavikord.jpg" alt="Клавікорд" width="200" height="180"></th>
				<td>
					<p><b>Клавікорд (від лат. clavis — ключ та грец. chorde — струна)</b> — клавішно-струнний музичний
						інструмент XV-XVIII ст. Клавіші клавікорду приводять у дію
						механізм металевих штифтів (тангентів), які досягають звучання шляхом натиску на струну.</p>
				</td>
			</tr>
			<tr>
				<th><img src="fortepiano.jpg" alt="Фортепіано" width="200" height="220"></th>
				<td>
					<p><b>Фортепіано (фортеп'яно) (італ. forte — голосно, piano — тихо)</b> — збірна назва класу
						струнних ударно-клавішних музичних інструментів — роялів і піаніно.</p>
					<p>Джерело звуку у фортепіано — металеві струни, що починають звучати від удару покритих повстю
						дерев'яних молоточків, а молоточки приводяться в дію натиском
						пальців на клавіші. Струни за допомогою кілків натягнуті на резонансну деку (у піаніно дека
						знаходиться у вертикальному положенні, у роялях — у горизонтальному).</p>
					<p>Фортепіано діляться на роялі — інструменти з горизонтальним розташуванням струн — і піаніно з
						вертикальним.</p>
				</td>
			</tr>
			<tr>
				<th><img src="klavesin.jpg" alt="Клавесин" width="200" height="260"></th>
				<td>
					<p><b>Клавесин</b> — старовинний клавішний струнно-щипковий музичний інструмент, металеві струни
						якого защипуються плектром з пера або шкіри. Існують
						клавесини двох типів: крилоподібної форми великого розміру (вертикальний або горизонтальний) і
						меншого розміру — квадратної, прямокутної або п'ятикутної
						форми. Інструменти першого типу зазвичай називають клавесином, а другого — спінетом.
						Вьорджінелом в Англії в XVI ст. називали обидва типи клавесина, але
						частіше — інструменти квадратної форми.</p>
					<p>Клавесин, який походить від псалтерію, струни якого защипувалися пальцями, був поширений в
						XVI—XVIII ст. Він виготовлявся з двома клавіатурами.
						Складніші інструменти мали два або більше набори струн (регістрів) і особливі перемикачі, які
						дозволяли змінювати кількість видобутих звуків шляхом
						одночасного включення двох або трьох наборів струн.</p>
				</td>
			</tr>
			<tr>
				<th><img src="organ.jpg" alt="Орган" width="200" height="280"></th>
				<td>
					<p><b>Орган (від грец. — «інструмент» або «знаряддя»)</b> — музичний інструмент групи
						клавішно-духових інструментів.</p>
					<p>Звук в органі створюється завдяки нагнітанню повітря в труби різного діаметра, довжини, матеріалу
						(метал або деревина). Керування органом здійснюється
						з органної кафедри — (нім. Spieltisch шпільтіш, тобто ігрового столу), пульту органу, де
						містяться ігрові механізми (клавіші, педаль тощо) та механізми
						вмикання та вимикання регістрів, допоміжних засобів.</p>
					<p>Гра на органі здійснюється за участю обох рук та ніг органіста, з допомогою (або без) асистента.
						У розпорядженні органіста є один або декілька мануалів
						(клавіатур для рук) та педаль (клавіатура для ніг).</p>
					<p>Переважна більшість органів розташована в церквах (християнських — римського обряду,
						протестантських, але не церквах візантійського обряду), концертних
						залах, музичних навчальних закладах (академіях, консерваторіях, училищах).</p>
				</td>
			</tr>
			<tr>
				<th><img src="bayan.jpg" alt="Баян" width="200" height="240"></th>
				<td>
					<p><b>Баян</b> — музичний інструмент, удосконалена хроматична гармонія. Назва походить від імені
						співця Стародавньої Русі Бояна. Прототип Баяна створено 1870
						рос. музикантом-гармоністом М. І. Білобородовим (1827—1912). Баян складається з двох
						кришок-коробок, з'єднаних між собою міхами, та двох кнопочних клавіатур
						для правої і лівої рук. Права клавіатура використовується звичайно для виконання голосів
						мелодії, а ліва — для акомпанементу. Цей різновид баяна отримав
						назву готового баяну.</p>
					<p>Різновид баяна - виборний баян - відрізняється відсутністю готових акордів. На виборному баяні
						ліва рука може виконувати різноманітні акорди на розсуд
						композитора або виконавця, що збільшує можливості цього інструмента, по відношенню з готовим,
						однак значно ускладнює техніку гри на ньому. Баян
						застосовується як сольний і ансамблевий інструмент.</p>
				</td>
			</tr>
			<tr>
				<th><img src="acordeon.jpg" alt="Акордеон" width="200" height="160"></th>
				<td>
					<p><b>Акордеон (фр. accordeon)</b> — музичний інструмент, ручна гармоніка.</p>
					<p>В українській традиції акордеоном зазвичай прийнято називати тільки інструменти з правою
						клавіатурою фортепіанного типу (зазвичай кілька тембрових
						регістрів) — на відміну, наприклад, від баяна. Однак іноді зустрічається і найменування
						«кнопковий акордеон» (права клавіатура кнопкового акордеона має
						будову таку ж, як права клавіатура баяна. Інша назва — п'ятирядковий баян). Деякі його різновиди
						називають баяном.</p>
				</td>
			</tr>
			<tr>
				<th><img src="chelesta.jpg" alt="Челеста" width="200" height="240"></th>
				<td>
					<p><b>Челеста (італ. celesta, від celeste — небесний)</b> — ударно-клавішний музичний інструмент,
						формою схожий на піаніно. Використовується у
						симфонічному оркестрі. Відрізняється ніжним звучанням, яке нагадує звук дзвіночків. Діапазон
						челести становить 1-5 октави.</p>
					<p>У 1860-х роках французький майстер Віктор Мюстель створив музичний інструмент «дульсітон».
						Пізніше, в 1886 році, його син Огюст Мюстель вдосконалив
						«дульсітон», який з того часу отримав назву «челеста». Одним із перших цей інструмент використав
						російський композитор Петро Чайковський, який почув його
						у Парижі — челеста звучить у його балеті «Лускунчик» («Танець феї Драже», 1892) та балладі
						«Воєвода» (1891).</p>
				</td>
			</tr>
			<tr>
				<th><img src="sintezator.jpg" alt="Синтезатор" width="200" height="260"></th>
				<td>
					<p><b>Синтезатор</b> — електронний пристрій, який синтезує звук за допомогою одного чи кількох
						електричних генераторів коливань. Необхідне звучання
						досягається регулюванням властивостей електричного сигналу (в аналогових синтезаторах), або
						параметрів центрального процесора (у цифрових синтезаторах).
						Остаточно електричні коливання перетворюються у звук через гучномовці (або, при потребі,
						навушники).</p>
					<p>Синтезаторами називають як окремі пристрої, що є основою електронних музичних інструментів, так і
						властиво електронні музичні інструменти. Синтезатор,
						виконаний у вигляді корпуса із клавіатурою, називається клавішним синтезатором. Синтезатор,
						виконаний у вигляді корпуса без клавіатури, називається
						звуковим модулем і управляється від зовнішніх MIDI-пристроїв (MIDI-клавіатури, секвенсера, або
						іншого синтезатора). Клавішний синтезатор, облаштований
						вбудованим секвенсером, називають робочою станцією.</p>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>