<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset = utf-8">
	<link rel="stylesheet" href="style.css">
	<title> Ударні інструменти </title>
	<style>
		body {
			background: url(C:/Фон.png);
		}

		h1 {
			text-align: center;
		}

		h2 {
			margin-top: 40px;
		}

		p {
			margin-top: 5px;
			text-align: justify;
		}

		td {
			padding: 5px;
			vertical-align: top;
		}

		#main {
			width: 1000px;
			margin: 0 auto;
			font-size: 16px;
			text-align: left;
			padding: 30px;
			background: #90789E;
			color: #051054;
			border-radius: 20px;
		}
	</style>
</head>
<div id="main">
	<h1> Ударні інструменти </h1>
	<p><b>Ударні музичні інструменти</b> — музичні інструменти, звук на яких видобувається ударом (руками, паличками,
		молоточками і т. д.) по тілу, що стає його джерелом.
		Найчисленніше і найстародавніше сімейство серед усіх музичних інструментів. Іноді ударні музичні інструменти
		називають словом перкусія (від англ. percussion).</p>
	<p>Музикант, що грає на ударних інструментах називається <b>ударником</b> або <b>перкусіоністом</b>, в рок- та
		джазових групах — <b>барабанщиком</b>.</p>
	<h2>Класифікація</h2>
	<p>В залежності від джерела звуку ударні інструменти можуть бути:</p>
	<ul>
		<li>ідіофонами — джерело звуку — корпус інструменту. Ідіофонами є ганґ, дзвони оркестрові, ксилофон, трикутник,
			тарілки, кастаньєти, гонги та ін.</li>
		<li>мембранофонами — джерело звуку — натягнута шкіра, «мембрана». До мембранофонів належать барабани, литаври,
			том-томи та ін.</li>
	</ul>
	<p>В залежності від властивостей звуку розрізняють:</p>
	<ul>
		<li>інструменти з невизначеною висотою звучання — трикутник, тарілки, кастаньєти, барабани, том-томи та інші.
		</li>
		<li>інструменти з визначеною висотою звуку — ксилофон, вібрафон, маримба, дзвіночки, дзвони оркестрові, литаври
			та інші.</li>
	</ul>
	<h2>Історія</h2>
	<p>Ймовірно першим барабаном був порожній стовбур дерева, на який натягали шкіру рептилій або риб. Пізніше стали
		використатися шкіри тварин, убитих на полюванні,
		з'явилися перші ціпки. Для прикріплення шкіри до корпуса застосовувалося кілька різних методів: цвяхи, клей,
		заклепки, шнур навколо корпуса й т.п.</p>
	<p>Прообраз малого барабана швидше за все прийшов в Іспанію від арабів і спочатку був сугубо фольклорним
		інструментом. Спочатку звук з барабана видобували руками,
		а пізніше стали використати ціпки округлої форми. Настроювання барабана здійснювалося шляхом стягування мембран
		жилами, мотузками й пізніше за допомогою металевих
		натяжних кріплень, які натягали або послабляли мембрани, і завдяки цьому звук барабана змінював свій тон. У
		різні часи й у різних народів були зовсім не схожі один
		на одного інструменти. Біля 14-го століття він починає використатися у військах. Тоді ж з'являються жильні
		струни, натягнуті уздовж поверхні нижньої шкіри. Старший
		брат малого барабана — теноровий барабан — також використався в армії як зі струнами, так і без.</p>
	<p>Великий барабан і тарілки потрапили в Європу з військами Османської імперії у 18-му столітті. Довгий час
		інструмент яничарів іменувався європейцями османським
		барабаном. Перші ноти для барабана датовані 16-м століттям.</p>
	<p>В 17-18 столітті ударні інструменти поступово потрапляють до складу симфонічних оркестрів. В 19 столітті в
		симфонічний оркестр входять литаври, трикутник,
		тарілки, малий барабани та великий барабани, а також ксилофон та оркестрові дзвони. В 20 столітті набір
		оркестрових ударних інструментів значно розширюється.</p>
	<p>Разом з тим на початку 20 століття формується ударна установка. Ще у дев'яностих роках 19-го століття музиканти з
		Нового Орлеану і з інших міст США намагалися
		пристосувати малий барабан і великий барабан військового оркестру для сценічного виконання так, щоб один
		виконавець міг грати відразу на двох інструментах. У той
		же час вони розвивали новий стиль гри, що базувався на колективній імпровізації, що пізніше стане основою джазу.
		З винаходом хай-хету в середині 1920-х років
		ударна установка набуває схожого на сучасний вигляд. Характерною для останніх десятеліть є тенденція до
		залучення в музичну культуру найрізноманітніших ударних
		інструментів різних національних культур.</p>
	<h2>Ударні інструменти в українській народній музиці</h2>
	<p>В українській народній музиці велику роль відіграють ударні та шумові інструменти, виникнення яких сягає своїм
		корінням у сиву давнину. Різноманітні брязкальця,
		пустотілі раковини, калатальця — все це використовувалося для подачі сигналів, а пізніше — для ритмічної
		організації музики. Цю ж функцію виконували часто і такі
		речі побутового вжитку, як деркач, било, калатало, що були невід'ємними супутниками сторожів.</p>
	<p>В народній музиці, що супроводжувала ігри, весілля, календарні, релігійні свята та обряди, широко
		використовувалися такі предмети побутового вжитку, як ложки,
		рубель з качалкою. Можна зустріти народні кастаньєти, зроблені з двох дерев'яних спарених ложок. На них музикант
		відбиває різноманітні ритмічні малюнки, імітує
		цокіт кінських копит.</p>
	<p>Найпоширенішим ударним інструментом у народній музиці є бубон (решітка). Легкий дерев'яний обідок, обтягнутий з
		одного боку шкірою, — це найпростіша конструкція
		бубна, що був відомий в Україні ще за часів Київської Русі. Сучасні матеріали, металеві дзвіночки, тарілочки,
		гарне оздоблення змінили вигляд бубна, що завжди
		супроводжував танцювальну музику, входив до складу полкової музики Війська Запорозького.</p>
	<p>Із західних областей України в інші регіони республіки прийшов екзотичний ударний інструмент, що за специфічне
		забарвлення звуку зветься бугай. У невеликій
		конусоподібній діжечці верхній отвір обтягнуто шкірою. До неї в центрі прикріплено пучок конячого волосся.
		Музикант зволоженими у квасі руками сіпає за волосся і
		видобуває найстійкіші звуки акорду.</p>
	<table width="1000" border="1" bordercolor="#051054">
		<tr>
			<th><img src="gang.jpg" alt="Ганг" width="200" height="200"></th>
			<td>
				<p><b>Ганґ (нім. Hang)</b> — перкусійний інструмент, що складається з двох з'єднаних металевих
					напівсфер.</p>
				<p>Ця перкусія складається з двох з'єднаних між собою металевих напівсфер: сторони <b>DING</b> та
					сторони <b>GU</b>.</p>
				<p>На стороні DING розташовані 7-8 тональних областей, що утворюють «тональне коло». Воно оточує
					центральний купол, названий DING (схожий на гонг).
					На стороні GU знаходиться резонаторний отвір розміром 8-12 см. На цьому отворі можна грати як на уду
					або використовувати його для модуляції звуку DING.
					Існує безліч варіантів видобування звуку з ганґа: кінчиками пальців, великими пальцями, підставою
					кисті. Зазвичай музикант тримає Ганґ на колінах.</p>
			</td>
		</tr>
		<tr>
			<th><img src="dzvoni.jpg" alt="Дзвони" width="200" height="280"></th>
			<td>
				<p><b>Оркестрові дзвони (нім. Glocken; фр. cloches; італ. campane; англ. Tubular bells)</b> — ударний
					інструмент симфонічного оркестру.</p>
				<p>Являє собою набір з 12—18 циліндричних металевих трубок діаметром 25—38 мм, підвішених в спеціальній
					рамі (висота бл. 2 м).</p>
				<p>Вдаряють калаталкою, голівка якої обтягнута шкірою.</p>
				<p>Звукоряд хроматичний. Діапазон 1—1,5 октави (від с до f<sup>1</sup>); нотуються в скрипковому ключі
					октавой вище, ніж звучить).</p>
				<p>Сучасні дзвони мають також керований педаллю демпфер, що використовують для заглушення звуку. В
					оркестрі інструмент використовують найчастіше для
					імітації дзвону.</p>
			</td>
		</tr>
		<tr>
			<th><img src="ksilofon.jpg" alt="Ксилофон" width="200" height="250"></th>
			<td>
				<p><b>Ксилофон</b> — ударний музичний інструмент з визначеною висотою звуку. На дерев'яних пластинках —
					клавішах інструменту грають спеціальними
					паличками, з наконечниками з дерева, пластику або щільної гуми.
					Клавіатура сучасного ксилофону налаштовується за звуками хроматичної гами, на зразок фортепіанної.
					Під клавішами ксилофону розташовані спеціальні
					трубки-резонатори, які роблять звучання більш об'ємним. Діапазон ксилофону — 3,5 або 4 октави (від
					g<sup>1</sup>-c<sup>2</sup> до g<sup>4</sup>-c<sup>5</sup>.
					Раніше вироблялися інструменти з розширеним діапазоном (4-5 октав), що називалися ксилоримба.</p>
				<p>Найбільшої популярності ксилофон досяг в кінці XIX і першій половині XX ст.ст., зокрема в США, не в
					останню чергу завдяки запальним мелодіям, які
					виконували в оркестрі з ксилофоном, а також віртуозам, що перекладали класичні твори та регтайми.
					В сучасності ксилофон — один з основних ударних інструментів симфонічного оркестру. Як сольний
					інструмент використовується рідше, значно поступаючись
					за тембровими можливостями маримбі.</p>
		</tr>
		<tr>
			<th><img src="trikutnik.jpg" alt="Трикутник" width="200" height="260"></th>
			<td>
				<p><b>Трикутник (італ. triangolo)</b> — ударний музичний інструмент у вигляді зігнутого трикутником
					сталевого пруту (діаметр 8-10 мм), який вільно
					підвішують та вдаряють по ньому металевою паличкою. Звук трикутника — невизначеної висоти, дзвінкий,
					блискучий і в той же час ніжний. Розрізняють малий
					(довжина основи — 150 мм), середній (200 мм) та великий (250 мм).</p>
				<p>На трикутнику можна виконувати як окремі ритмічні удари, так і тремоло (швидке чергування ударами
					паличкою по сторонах трикутника).</p>
				<p>Походження трикутника достеменно невідомо, але зображення та описи музикознавців 16-17 ст. свідчать
					про те, що цей інструмент був відомий в Європі
					вже в ті часи. Початково трикутник пристосовувався переважно в воєнній музиці, пізніше (з кінця 19
					ст.) — також і в симфонічній.</p>
			</td>
		</tr>
		<tr>
			<th><img src="tarilki.jpg" alt="Тарілки" width="200" height="220"></th>
			<td>
				<p><b>Тарілки (італ. piatti, нім. Becken, англ. cymbals)</b> — ударний музичний інструмент з
					невизначеною висотою звуку. Тарілки відомі з часів
					стародавніх Єгипту, Індії, Китаю. В Європі відомі з середньовіччя.</p>
				<p>Інструмент являє собою два диски, викувані зі спеціального сплаву, в основі якого лежить мідь,
					латунь, дзвонова бронза та ковка бронза. Використовують
					тарілки різної величини: малі — (25—35 см), середні — (37—45 см), великі (47—60 см), а також різної
					товщини.</p>
				<p>Найхарактерніші в симфонічному оркестрі. На парних тарілках грають, вдаряючи однією по другій
					зустрічним ковзаючим рухом. Розрізняють відкритий удар,
					при якому тарілки продовжують вільно звучати та закритий, при якому краї тарілок виконавець
					притискає до плечей.</p>
			</td>
		</tr>
		<tr>
			<th><img src="kastaneti.jpg" alt="Кастаньєти" width="200" height="300"></th>
			<td>
				<p><b>Кастаньєти</b> (ісп. castanetas від лат. castanea — каштан) — ударний музичний інструмент без
					визначеної висоти звуку.</p>
				<p>Інструмент являє собою дві вігнуті пластинки-мушлі, в верхніх частинах зв'язані між собою шнурком.
					Пластини традиційно виготовлялися з твердої
					деревини, хоча останнім часом для цього все частіше використовується склопластик. Кастаньєти
					найпоширеніші в Іспанії, на півдні Італії та Латинській
					Америці. Подібний до кастаньєт інструмент можна зустріти і серед українських народних інструментів.
				</p>
				<p>Схожі прості музичні інструменти, які можна використовувати для ритмічного супроводу танцю та співу,
					використовувались ще в Стародавньому Єгипті і
					Стародавній Греції.</p>
				<p>В світовій культурі кастаньєти найчастіше асоціюються з образом іспанської музики, особливо з музикою
					іспанських циган, стилем фламенко тощо. Тому
					цей інструмент часто використовують і в класичній музиці для створення «іспанського колориту»
					(наприклад, в опері Жоржа Бізе «Кармен», «Іспанському
					капрічіо» Миколи Римського-Корсакова, «Іберії» Клода Дебюссі).</p>
			</td>
		</tr>
		<tr>
			<th><img src="gong.jpg" alt="Гонг" width="200" height="240"></th>
			<td>
				<p><b>Гонг</b> — стародавній ударний музичний інструмент з невизначеною висотою звуку з родини
					ідіофонів, що походить з Далекого сходу, де використовувався
					як культовий. До складу симфонічного оркестру увійшов в кінці 19 століття.</p>
				<p>Існує велика кількість різновидів гонгів, що відрізняються розмірами, формою, характером звучання та
					походженням. Найпоширеніши в сучасній оркестровій
					практиці є китайський та яванський гонги. Іноді гонг помилково ототожнюють з там-тамом.</p>
				<p>Китайський гонг має вигляд металевого диска із загнутими під прямим кутом краями. Діаметр диска від
					50 до 80 см. Тембр звука залежить від матеріалу
					інструмента (складу мідного сплаву), а відносна висота — від розміру (чим менший інструмент, тим
					вищий звук).</p>
		</tr>
		<tr>
			<th><img src="barabani.jpg" alt="Барабани" width="200" height="250"></th>
			<td>
				<p><b>Барабан</b> — загальна назва для ряду ударних музичних інструментів групи мембрафонів, що
					складається зі шкіри (пергаменту, пластику, нейлону),
					натягнутої на резонатор. На барабані грають паличками[ru] або руками. Також барабан це інструмент,
					який був створений заради відтворення звуку биття
					серця.</p>
				<p>Барабани можна класифікувати за формою:</p>
				<ul>
					<li>рамкові</li>
					<li>у формі кубка</li>
					<li>циліндричні</li>
					<li>казаноподібні</li>
					<li>у формі «пісочного годинника»</li>
					<li>у формі конуса</li </ul> </tr> <tr>
			<th><img src="litavri.jpg" alt="Литаври" width="200" height="240"></th>
			<td>
				<p><b>Литаври (італ. timpani, пол. kotly, нім. Pauke)</b> — ударний музичний інструмент з визначеною
					частотою звуку. В Європі відомий з XIV століття.</p>
				<p>Литаври являють собою систему з двох або декількох латунних котлів, відкрита сторона яких затягнута
					шкірою. Змінюючи ступінь натягу шкіри можна
					змінювати висоту звуку інструментів. Розрізняють литаври <b>гвинтові</b> та <b>педальні</b>.</p>
				<p>У симфонічному оркестрі, як правило, використовуються інструменти трьох розмірів — велика (діапазон
					від E до c), середня (частіше дві середніх,
					діапазон від A до e) та мала (діапазон від B до g). Грають на литаврі двома паличками з м'якими
					голівками, особливий прийом гри на літаврах — тремоло
					(швидке чергування ударів обох паличок).</p>
			</td>
		</tr>
		<tr>
			<th><img src="vibrafon.jpg" alt="Вібрафон" width="200" height="260"></th>
			<td>
				<p><b>Вібрафон</b> — сучасний ударний музичний інструмент з родини металофонів. Сконструйований у 1921
					році, спочатку використовувався в естрадних
					та джазових оркестрах та ансамблях, а пізніше й в симфонічних оркестрах.</p>
				<p>Вібрафон буває переважно двох конструкцій: з діапазоном дві з половиною октави — від до першої до ля
					третьої та з діапазоном три октави — від фа малої
					до фа третьої. Вібрафон не є транспонуючим інструментом, записується на одному нотному стані в
					скрипковому ключі у реальному звучанні. В партитурі
					розміщується під партією ліри, яка в свою чергу знаходиться під партією дзвіночків. Звук вібрафона
					довгий, вібруючий, насичений, з широкою звуковою
					хвилею, що поступово затихає.</p>
			</td>
		</tr>
		<tr>
			<th><img src="dzvinochki.jpg" alt="Дзвіночки" width="200" height="140"></th>
			<td>
				<p><b>Дзвіночки (італ. campanelli, рос. колокольчики)</b> — ударний інструмент з родини ідіофонів, має
					визначену висоту звука і складається з ряду металевих
					пластинок, вільно закріплених на брусках у два ряди. Звук видобувають за допомогою спеціальних
					молоточків або клавішного механізму. Діапазон за записом —
					від h до c<sup>3</sup>, звучить на дві октави вище від записаного.</p>
			</td>
		</tr>
	</table>
</div>

<body>

</body>

</html>